@using DeliveryOriginal.Admin.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DeliveryOriginal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DeliveryOriginal", "Index", "Order", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole(RoleGroup.Administrators.ToString()) || User.IsInRole(RoleGroup.SuperAdministrator.ToString()))
                        {
                            <li>@Html.ActionLink("Order Dashboard", "OrderDashboard", "Order")</li>
                            <li>@Html.ActionLink("Dish Managment", "Index", "Dish")</li>
                            <li>@Html.ActionLink("Category Managment", "Index", "Category")</li>
                        }
                        @if (User.IsInRole(RoleGroup.SystemAdministrators.ToString()) || User.IsInRole(RoleGroup.SuperAdministrator.ToString()))
                        {
                            <li>@Html.ActionLink("User Managment", "Index", "User")</li>
                        }
                        @if (User.IsInRole(RoleGroup.AnalyticsAdministrators.ToString()) || User.IsInRole(RoleGroup.SuperAdministrator.ToString()))
                        {
                            <li>@Html.ActionLink("Analytics Panel", "Index", "Analytics")</li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("LogOut", "LogOut", "Account")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DeliveryOriginal</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
